<div>
    <h1>Ring of Fire Drinking Game Rules</h1><br>
    <span> Ace = Waterfall: the player who picks the card starts drinking and one by one everyone in the circle starts drinking until the player who started stops drinking and one by one everyone else can stop.</span><br>
    <span>Two = You: you can pick someone else to drink</span><br>
    <span>Three = Me: the player who picks this card drinks</span><br>
    <span> Four = Thumb Master: the player with this card can put their thumb down at any time during the game and the last person to do the same has to drink</span><br>
    <span> Five = Guys: all the lads have to drink Six = Chicks: all the girls have to drink</span><br>
    <span> Seven = Heaven: the player with this card can put their hand up at any time during the game and the last person to do the same has to drink </span><br> Eight = Mate: the player can pick a mate who has to drink with them Nine = Rhyme: say a
    word and go round the circle rhyming with that words, whoever hesitates or can’t think of a word has to drink Ten = Category: pick a category and say a word within that category and go round the circle, whoever hesitates or can’t think of a word has
    to drink Jack = Rule: make up a rule for the rest of the game, whoever breaks the rule has to drink Queen = Question Master: the player with this card has to ask someone a question, if the person answers they have to drink, if they call out that you’re
    the question master then you have to drink King = Cup: add some of your drink to the king’s cup, if you have the last king then you have to drink the king’s cup!


</div>