<app-player (click)="editPlayer(i)" *ngFor="let player of game.players;
 let i = index;" [ngStyle]="{'top.px': 100 + (i * 90)}" [playerActive]="i == game.currentPlayer" [image]="game.player_images[i]" [name]="player" class="playerPosition hideMobile"></app-player>

<div class="scrollContainer hideDesktop">
    <app-player-mobile (click)="editPlayer(i)" *ngFor="let player of game.players;
 let i = index;" [playerActive]="i == game.currentPlayer" [name]="player"></app-player-mobile>
</div>

<div *ngIf="gameOver" class="gameOver">

    <div class="gameOverDisplay">
        <h2>GAME OVER</h2>
        <img src="assets/img/gameover.jpg">
        <button mat-button (click)="restartGame()">RESTART</button>
    </div>


</div>



<div class="gameContent">
    <div class="cardStack">
        <!-- Card Stack -->
        <img class="stackRotate" (click)="takeCard()" [ngStyle]="{'right.px': i * 5 } " *ngFor="let image of game.stack let i = index;" src="assets/playing_cards/card-cover.jpg">
        <!-- Stack for played cards -->
        <img *ngFor="let card of game.playedCards" class="playedCard" src="assets/playing_cards/{{ card }}.png">
        <!-- Current card (Animation) -->
        <img (click)="takeCard()" *ngIf="game.pickCardAnimation" class="pickCard" style="right: 20px" src="assets/playing_cards/{{ game.currentCard }}.png">
    </div>
</div>
<app-game-rules [card]="game.currentCard" class="rulesCard"></app-game-rules>


<button mat-fab color="primary" (click)="openDialog()" class="addButton">
    <mat-icon>add</mat-icon>
  </button>